docker/pure-ftp/logs/*
docker/pure-ftp/private/*
docker/pure-ftp/passwd/*
docker/qbittorrent/config/Downloads/*
docker/qbittorrent/config/data/*
docker/qbittorrent/config/qBittorrent/qBittorrent-data.conf
docker/.env
